@tailwind base;
@tailwind components;
@tailwind utilities;

.langin{
    color: aliceblue;
}

.__wrapper {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.__wrapper_active {
    pointer-events: all;
}

.brevy-hover {
    outline: 2px solid rgb(157, 122, 255);
    box-shadow: inset 0 0 0 2000px rgba(157, 122, 255, 0.3);
}
