@tailwind base;
@tailwind components;
@tailwind utilities;

.__wrapper {
    z-index: 2147482646;
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.brevy-hover {
    outline: 2px solid rgb(157, 122, 255);
    box-shadow: inset 0 0 0 2000px rgba(157, 122, 255, 0.3);
}
